@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-dark: #0f1624;
  --color-light: #ffffff;
  --color-accent: linear-gradient(
    270deg,
    #13adc9 0%,
    #6b7ad1 67%,
    #935cd6 100%
  );
  --color-gray: #929eb0;
  --border: 1px solid transparent;
  --border-radius-small: 15px;
  --border-radius: 25px;
  --border-radius-large: 83px;
  --shadow: 0px 12px 30px 0px var(--color-accent);
  --drop-shadow: drop-shadow(0px 10px 30px #00b2ff59);
  --font-family-base: "Poppins", sans-serif;
  --container-width: 1170px;
  --container-padding-x: 20px;
  --section-padding-y: 100px;
  --button-height: 78px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(14px, 0.9375vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: 1.28;
  color: var(--color-gray);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: var(--color-light);
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--color-light);
}

h1 {
  font-size: clamp(24px, 3.3333333333vw, 64px);
}

h2 {
  font-size: clamp(20px, 2.3958333333vw, 46px);
}

h3 {
  font-size: clamp(16px, 1.5625vw, 30px);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 51px;
  font-size: 18px;
  color: var(--color-light);
  background: var(--color-accent);
  border: var(--border);
  border-radius: var(--border-radius-large);
}
@media (hover: hover) {
  .button:hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
  }
}
@media (hover: none) {
  .button:active {
    box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
  }
}
.button--transparent {
  color: var(--color-light);
  border-color: white;
  background: transparent;
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 30px;
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 767px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
.grid--3 {
  gap: 40px;
}
@media (max-width: 767px) {
  .grid--3 {
    gap: 20px;
    row-gap: 40px;
  }
}
@media (max-width: 430px) {
  .grid--3 {
    --gridColumns: 2;
    gap: 20px;
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-large);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: purple;
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: purple;
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-light);
  border-radius: 5px;
  box-shadow: 0px -8px var(--color-light), 0px 8px var(--color-light);
}

.header {
  padding-top: 60px;
}
@media (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 18px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 156px;
       column-gap: 156px;
}
@media (max-width: 1023px) {
  .header__inner {
    -moz-column-gap: 130px;
         column-gap: 130px;
  }
}
@media (max-width: 880px) {
  .header__inner {
    -moz-column-gap: 82px;
         column-gap: 82px;
  }
}
@media (max-width: 767px) {
  .header__inner {
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    max-width: 163px;
  }
}
.header__menu {
  margin-right: auto;
  font-size: 18px;
}
@media (max-width: 1280px) {
  .header__menu {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .header__menu {
    font-size: 15px;
  }
}
@media (max-width: 880px) {
  .header__menu {
    font-size: 14px;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 1023px) {
  .header__menu-list {
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.header__soc1als-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
@media (max-width: 1023px) {
  .header__soc1als-item {
    max-width: 22px;
  }
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-large);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: purple;
  }
  .cross-button:hover::before, .cross-button:hover::after {
    content: "";
    background-color: #ffffff;
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: purple;
  }
  .cross-button:active::before, .cross-button:active::after {
    content: "";
    background-color: #ffffff;
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 11px;
  width: 53%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 18px 20px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}
.mobile-overlay__link {
  color: var(--color-dark);
}

.section {
  padding-block: var(--section-padding-y);
}
@media (max-width: 767px) {
  .section {
    padding-block: 50px;
  }
}
.section--hidden-x {
  overflow-x: hidden;
}
.section__header:not(:last-child) {
  margin-bottom: 65px;
}
@media (max-width: 767px) {
  .section__header:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 430px) {
  .section__title {
    max-width: 280px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
}
.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767px) {
  .hero__main {
    flex-direction: column;
  }
}
@media (min-width: 1281px) {
  .hero__image {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 1023px) {
  .hero__image {
    max-width: 50%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .hero__image {
    order: -1;
    width: 100%;
    max-width: 100%;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 700px;
  row-gap: 35px;
}
@media (max-width: 767px) {
  .hero__body {
    display: contents;
  }
}
.hero__title {
  color: var(--color-light);
}
@media (max-width: 767px) {
  .hero__title {
    order: -2;
    margin-bottom: 16px;
  }
}
.hero .gradient {
  background: var(--color-accent);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.hero .nowrap {
  white-space: nowrap;
}
.hero__description {
  font-size: 18px;
  line-height: normal;
}
@media (max-width: 767px) {
  .hero__description {
    order: -1;
    margin-bottom: 30px;
  }
}

.projects__list:not(:last-child) {
  margin-bottom: 200px;
}

.project-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  min-height: 699px;
  padding: 45px;
}
@media (max-width: 430px) {
  .project-card {
    min-height: 398px !important;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 1023px) {
  .project-card {
    min-height: 615px;
    padding: 20px;
  }
}
.project-card:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background: var(--color-accent) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}
@media (max-width: 430px) {
  .project-card:before {
    border-radius: var(--border-radius-small);
  }
}
.project-card__body {
  display: flex;
  flex-direction: column;
}
.project-card__image {
  margin-bottom: 44px;
}
@media (max-width: 767px) {
  .project-card__image {
    width: auto;
  }
}
@media (max-width: 430px) {
  .project-card__image {
    margin-bottom: 25px;
  }
}
@media (max-width: 1280px) {
  .project-card__image {
    width: 100%;
    height: auto;
  }
}
.project-card__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  margin-bottom: 72px;
}
@media (max-width: 430px) {
  .project-card__title {
    row-gap: 8px;
    margin-bottom: 25px;
  }
}
.project-card__name {
  color: var(--color-light) !important;
}
.project-card__button {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.project-card__button-github .mobile-text {
  display: none;
}
@media (max-width: 1023px) {
  .project-card .desktop-text {
    display: none;
  }
  .project-card .mobile-text {
    display: inline;
  }
}
@media (max-width: 767px) {
  .project-card .desktop-text {
    display: none;
  }
  .project-card .mobile-text {
    display: inline;
  }
}

.technologies {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}
@media (max-width: 430px) {
  .technologies {
    row-gap: 52px;
  }
}
.technologies:not(:last-child) {
  margin-bottom: 200px;
}
.technologies__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: -52px;
}
@media (max-width: 430px) {
  .technologies__title {
    margin-block-end: -39px;
  }
}
.technologies__progress-bar {
  position: relative;
  width: 100%;
  height: 24px;
  background-color: #162950;
  border-radius: var(--border-radius-small);
}
.technologies__progress-bar span {
  position: absolute;
  height: 100%;
  transform: scale(0);
  border-radius: var(--border-radius-small);
  background: var(--color-accent);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scale(1);
  }
}
.technologies__progress-bar span {
  filter: var(--drop-shadow);
}
.technologies__progress-bar span.Html {
  width: 90%;
}
.technologies__progress-bar span.CSS-Sass-Tailwind {
  width: 90%;
}
.technologies__progress-bar span.JavaScript-TypeScript {
  width: 60%;
}
.technologies__progress-bar span.UI-design-in-Figma {
  width: 30%;
}
.technologies__progress-bar span.React {
  width: 30%;
}

.additional-skills__skill {
  position: relative;
  font-weight: 600;
  color: var(--color-light);
  padding-left: 40px;
  font-size: clamp(16px, 1.5625vw, 30px);
}
@media (max-width: 767px) {
  .additional-skills__skill {
    gap: 25px;
  }
}
@media (max-width: 430px) {
  .additional-skills__skill {
    padding-left: 30px;
  }
}
.additional-skills__skill:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: var(--color-accent);
  border-radius: 50%;
}
@media (max-width: 430px) {
  .additional-skills__skill:before {
    width: 16px;
    height: 16px;
  }
}

.about-me__list {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  .about-me__list {
    flex-direction: column;
  }
}
.about-me__timeline {
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  .about-me__timeline {
    display: flex;
  }
}
.about-me__timeline h3 {
  position: relative;
  margin-block: 0px;
}
@media (max-width: 767px) {
  .about-me__timeline h3 {
    display: flex;
  }
}
.about-me__timeline h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: var(--color-light);
  position: absolute;
  margin-block-start: 22px;
}
@media (max-width: 767px) {
  .about-me__timeline h3::after {
    display: flex;
    width: 2px;
    margin-left: 73px;
    height: 100%;
    margin-block-start: 0;
  }
}
.about-me__timeline h3::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-accent);
  position: absolute;
  margin-block-start: 22px;
  top: 110%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}
@media (max-width: 767px) {
  .about-me__timeline h3::before {
    width: 14px;
    height: 14px;
    margin-left: 67px;
    position: absolute;
    margin-block-start: 0;
    top: 0px;
    transform: translateY(0px);
  }
}
.about-me__timeline:last-of-type h3::after {
  content: none;
}
.about-me p {
  position: relative;
  padding: 48px 30px 0 0;
}
@media (max-width: 767px) {
  .about-me p {
    margin-left: 71px;
    padding-top: 0;
    padding-bottom: 23px;
  }
}
.about-me__timeline:last-of-type p {
  padding-right: 0;
}

.footer {
  padding-block-end: 60px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 880px) {
  .footer__body {
    flex-direction: column;
  }
}
.footer__list {
  display: flex;
  flex-direction: row;
  gap: 75px;
  color: var(--color-light);
}
@media (max-width: 880px) {
  .footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    row-gap: 40px;
  }
}
@media (max-width: 430px) {
  .footer__list {
    display: grid;
    max-width: 100%;
    gap: 20px;
  }
}
@media (max-width: 880px) {
  .footer__contacts:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: start;
  }
}
@media (max-width: 880px) {
  .footer__contacts:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/2;
    align-self: start;
  }
}
@media (max-width: 880px) {
  .footer__contacts:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: end;
  }
}
.footer li span {
  background: var(--color-accent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
@media (max-width: 880px) {
  .footer__soc1als {
    grid-column: 2/3;
    grid-row: 2/1;
    align-self: center;
  }
}
.footer__soc1als-list {
  display: flex;
  gap: 23px;
}/*# sourceMappingURL=styles.css.map */