.about-me {
  max-width: 100%;
  margin: 0 auto;

  &__list {
    width: 70%;
    float: left;
    height: 5px;
    list-style: none;
    margin: 80px auto;
    background: var(--color-light);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 24px;
      height: 24px;
      background: var(--color-accent);
      border-radius: 50%;
      margin: 0;
      z-index: 1;

      &:before,
      &:after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        white-space: normal;
        word-wrap: break-word;
      }

      &:before {
        content: attr(data-year);
        font-size: 16px;
        top: -30px; /* Adjust as needed */
      }

      &:after {
        content: attr(data-text);
        font-size: 14px;
        top: 30px; /* Adjust as needed */
        max-width: 200px;
      }
    }
  }
  &__text {
    width: 100%; // Allow data-text to use the full width of the container
    float: left; // Ensure it stays within the container
    margin-top: 20px; // Add some spacing from the timeline
  }
}
