.about-me {
  &__list {
    width: 85%;
    float: left;
    height: 5px;
    list-style: none;
    margin: 30px auto;
    background: var(--color-light);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 24px;
      height: 24px;
      background: var(--color-accent);
      border-radius: 50%;
      margin: 0;
      z-index: 1;

      &:before,
      &:after {
        position: absolute;
        left: 0%;
        width: 190px;
        text-align: left;
      }

      &:before {
        content: attr(data-year);
        font-size: 16px;
        top: -30px; /* Adjust as needed */
      }

      &:after {
        content: attr(data-text);
        font-size: 14px;
        top: 30px; /* Adjust as needed */
      }
    }
  }
}
