.about-me {
  &__list {
    width: 100%;
    height: 5px;
    list-style: none;
    margin: 80px auto;
    background: var(--color-light);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background: var(--color-light);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    li {
      display: flex;
      flex-direction: column;
      width: 24px;
      height: 24px;
      background: var(--color-accent);
      text-align: center;
      line-height: 1.2;
      position: relative;
      border-radius: 50%;
      margin: 0 10px;

      &:before {
        content: attr(data-year);
        font-size: 16px;
        position: absolute;
        top: -30px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%);
      }

      &:after {
        content: attr(data-text);
        font-size: 14px;
        position: absolute;
        top: 30px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%);
        width: 200px; /* Adjust as needed */
        text-align: center;
      }
    }
  }
}
