.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 51px;
  font-size: 18px;
  color: var(--color-light);
  background: var(--color-accent);
  border: var(--border);
  border-radius: var(--border-radius-large);

  @include hover {
    box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
    cursor: pointer;
  }

  &--transparent {
    color: var(--color-light);
    border-color: white;
    background: transparent;
  }

  // &:hover {
  //   background-color: var(--color-accent-hover);
  //   color: var(--color-light);
  // }
}
