.footer {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  &__soc1als-list {
    display: flex;
    column-gap: 23px;
  }
}
