.footer {
  padding-block-end: 60px;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-big {
      flex-direction: column;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 75px;
    color: var(--color-light);

    @include mobile-big {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 30px;
      row-gap: 40px;
    }
  }
  &__contacts {
    &:first-child {
      @include mobile-big {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: start;
      }
    }
    &:nth-child(2) {
      @include mobile-big {
        grid-column: 2 / 3;
        grid-row: 2 / 2;
        align-self: start;
      }
    }
    &:nth-child(3) {
      @include mobile-big {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-self: end;
      }
    }
  }

  li span {
    background: var(--color-accent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }

  &__soc1als {
    @include mobile-big {
      grid-column: 2 / 3;
      grid-row: 2 / 1;
      align-self: end;
    }
  }
  &__soc1als-list {
    display: flex;
    gap: 23px;
  }
}
