.footer {
  padding-block-end: 60px;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 100px;
    color: var(--color-light);
  }
  li span {
    background: var(--color-accent);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }
  &__soc1als-list {
    display: flex;
    column-gap: 23px;
    margin-left: 100px;
  }
}
