.gotopbtn {
  position: fixed;
  width: 60px;
  height: 60px;
  background: var(--color-accent);
  border-radius: 50%;
  bottom: 40px;
  right: 50px;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 20px;

  @include hover {
    background-color: purple;
  }

  @include mobile-small {
    display: none;
  }
}
