.header {
  padding-top: 60px;

  @include desktop {
    padding-top: 30px;
  }

  @include mobile {
    padding-top: 18px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 156px;

    @include tablet {
      column-gap: 130px;
    }

    @include mobile-big {
      column-gap: 82px;
    }

    @include mobile {
      column-gap: 80px;
    }
  }

  &__logo {
    @include tablet {
      max-width: 163px;
    }
  }

  &__menu {
    margin-right: auto;
    font-size: 18px;

    @include desktop {
      font-size: 16px;
    }

    @include tablet {
      font-size: 15px;
    }

    @include mobile-big {
      font-size: 14px;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: 80px;

      @include desktop {
        column-gap: 40px;
      }
      @include tablet {
        column-gap: 35px;
      }
    }

    &-link {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 48px;

      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }

  &__soc1als {
    &-list {
      display: flex;
      align-items: center;
      column-gap: 23px;
    }

    &-item {
      @include tablet {
        max-width: 22px;
      }
    }
  }
}
