.project-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  min-height: 699px;
  padding: 45px;

  @include desktop {
    padding: 40px;
  }

  @include tablet {
    min-height: 615px;
    padding: 36px;
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    background: var(--color-accent) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__image {
    margin-bottom: 44px;
    @include desktop {
      height: auto;
    }
    @include mobile {
      width: auto;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    margin-bottom: 72px;
  }

  &__name {
    color: var(--color-light) !important;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &__button-github {
    .mobile-text {
      display: none;
    }
  }
  @include tablet {
    .desktop-text {
      display: none;
    }
    .mobile-text {
      display: inline;
    }
  }

  @include mobile {
    .desktop-text {
      display: none;
    }
    .mobile-text {
      display: inline;
    }
  }
}
