.section {
  padding-block: var(--section-padding-y);
  @include mobile {
    padding-block: 50px;
  }

  &--hidden-x {
    overflow-x: hidden;
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: 65px;
      @include mobile {
        margin-bottom: 30px;
      }
    }
  }
  &__title {
    @include mobile-small {
      max-width: 280px;
    }
  }
}
