.technologies {
  display: flex;
  flex-direction: column;
  row-gap: 65px;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-end: -52px;
  }

  &__progress-bar {
    position: relative;
    width: 100%;
    height: 24px;
    background-color: #162950;
    border-radius: var(--border-radius-small);
  }

  &__progress-bar span {
    position: absolute;
    height: 100%;
    transform: scale(0);
    border-radius: var(--border-radius-small);
    background: var(--color-accent);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }

  @keyframes animate {
    100% {
      transform: scale(1);
    }
  }

  &__progress-bar span.Html {
    width: 990px;
  }
  &__progress-bar span.CSS-Sass-Tailwind {
    width: 990px;
  }
  &__progress-bar span.JavaScript-TypeScript {
    width: 660px;
  }
  &__progress-bar span.UI-design-in-Figma {
    width: 330px;
  }
  &__progress-bar span.React {
    width: 330px;
  }
}
