:root {
  --color-dark: #0f1624;
  --color-light: #ffffff;
  --color-accent: linear-gradient(
    270deg,
    #13adc9 0%,
    #6b7ad1 67%,
    #935cd6 100%
  );
  --color-gray: #929eb0;

  --border: 1px solid transparent;
  --border-radius: 25px;
  --border-radius-large: 83px;

  --shadow: 0px 12px 30px 0px var(--color-accent);
  --drop-shadow: drop-shadow(0px 10px 30px #00b2ff59);

  --font-family-base: "Poppins", sans-serif;

  --container-width: 1170px;
  --container-padding-x: 20px;

  --section-padding-y: 100px;

  --button-height: 78px;

  --transition-duration: 0.2s;
}
